{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block style %}
<style>
/*body {
  background: linear-gradient(rgb(166, 237, 255), rgb(47, 179, 212));
  }*/

body {
  background: #f3f3f3;
  
  width: 100%;
  color: #000000;
  
}

.field {
  /*background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #000000;*/
  
  
  /*border: 2px solid #000000;*/
  /*margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 0px;*/
  border-top: none;
  border-radius: 13px;
  /*margin-left: 10%;*/
  margin: 30px;
  
  
  
}
.mylink {
  color: red;
}

.mylink:hover {
  
}

.form-contro {
  border: none;
  outline: none;
  border-bottom: 4px solid #f0f0f0;
  width: 100%;
}

.header {
  width: 100%;
}
.bgimg {
  width: 100%;
}
#atrph2 {
  width: 100%;
  background: red;
  color: white;
  border: 1px solid black;
  border-radius: 7px;
  padding: 18px;
  text-align: center;
  margin-top: 10px;
}
.whole {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
  color: #000000;
  margin: 20px 60px 20px 20px;
  padding-top: 40px;
  background: white;
  width: 89%;
  border-radius: 18px;
  
}
.btn-primary {
  text-align: center;
  width: 96%;
  border-radius: 13px;
  margin-bottom: 10px;
  margin-left: 10px;
}


label {
  background: #ffffff;
  /*border-top: 5px solid lightblue;*/
  color: #000000;
  margin: 0;
  padding: 5px;
  border-top-right-radius: 13px;
  width: 100%;
}

textarea {
  height: 10%;
}

.form-contro:focus {
  border-bottom: 4px solid #8ed1f5;
}


@media(min-width: 650px) {
  .whole {
    width: 35%;
    transform: translateX(170%);
  }
  body {
    background: url("https://media.discordapp.net/attachments/832144973901332506/878556446336380928/287-2870761_gta-v-4k-wallpaper-3840x2160-gta-5-4k.jpg");
    background-size: cover;
  }
}  
h2 {
  text-align: center;
  font-family: 'teko', Sans-Serif;
  font-size: 40pt;
}

.invisible {
  display: none;
}

</style>
{% endblock %}

{% block navapplyvisa %}
active
{% endblock %}

{% block content %}

 {% for msg in messages %} 
<div id= "alertid" class= "alert alert-success mt-3 alert-dismissable fade show" role= "alert">{{msg}} <button data-dismiss= "alert" class= "close"><span>&times;</span></button>
</div>
{% endfor %}
<div class="header">
<img class=" bgimg" src="https://media.discordapp.net/attachments/848155822797488189/875659823897796678/standard.gif">
 </div> 
<form method="POST">
  {% csrf_token %}
  {{ form.management_form }}
  <div class="whole">
    <h2>VISA</h2>
  <div class="field">
    <label for="#rn">REAL NAME :</label>
  <input id="rn" class="form-contro" name="realname" placeholder="(Ex:Joe Biden)">
    </div>
    <div class="field">
      <label for="#rage">REAL AGE :</label>
      <input type="number" id="rage" class="form-contro" name="realage" placeholder="(Ex:18)"></div>
      
    
    <div class="field"><label for="#dcn">DISCORD USERNAME :</label>
    <input id="dcn" class="form-contro" name="discordname" placeholder="(Ex:Username#1234)">
    </div><hr>
    <div class="field"><label for="#ign">IG NAME :</label>
    <input id="ign" class="form-contro" name="igname" placeholder="(Ex:Mcdonald_Trumpet)"></div><br>
    <div class="field"><label for="#iga">IG AGE :</label>
    <input type="number" id="iga" class="form-contro" name="igage" placeholder="(Ex:18)"></div>
    <div class="field">IG GENDER : {{form.iggender}}</div>
    <div class="field"><label for="#cs">CHARACTER STORY :</label>
    <textarea cols="3" rows="6" id="cs" class="form-contro" name="characterstory" placeholder="I am Mcdonald_Trumpet, I was the old president of US.I came here to eat Street foods and enjoy my retired life on ARPUTHA THEEVU(Bars)"></textarea></div><br>
    <div class="field"><label for="#rprules">Did You Read RP Rules?
    if not click here <a class="mylink" href="https://discord.gg/63Qt92x3UM">Discord Link </a></label>  <br>&nbsp;&nbsp;&nbsp;&nbsp;{{form.rprules}} Yes</div><br>
    <div class="field"><label>YOUR ROLEPLAY EXPERIENCE : </label> {{form.rpexp}} </div><br>
    {{form.sender}}
  <div class="submit-btn">
  <input type="submit" class="btn btn-primary" value="submit">
  </div>
  </div>
</form>
    {% include 'footer.html' %}

{% endblock %}