{% extends 'base.html' %}

{% block title %}
{% endblock %}

{%block style %}
.header-txt {
  background: rgba(29, 68, 224,1);
  text
}
{% endblock %}

{% block contents %}
<center><header class= "header-txt">
  Send Mail
</header></center>
<form method="POST">{% csrf_token %}
  <input class= "form-control mt-4" type="email" placeholder="email.." name="email"><br>
  <input class="form-control" type="text" name="subject" placeholder="Subject"><br>
  <textarea class= "form-control" placeholder="Message..." name="message"></textarea><br>
  <input class= "btn btn-primary" type="submit" value="send">
</form>
{% endblock %}
